# Data Science for Business
  CIAPPONI ALESSANDRO 733433

In [1]:
import pandas as pd
import pylab as plt 
import seaborn as sns
import numpy as np
import math
from matplotlib import pyplot as plt
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
activated_jobs = pd.read_csv('Rapporti_di_lavoro_attivati.csv')
#lavori_attivati.head()

# Cleaning and Transformation Hiring DataSet

In [3]:
activated_jobs_cleaning = activated_jobs.copy()
activated_jobs_cleaning

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,09/05/2020,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA
1,12/07/2019,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
2,05/06/2013,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
3,12/03/2010,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA
4,06/04/2021,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA
...,...,...,...,...,...,...,...,...,...
9579789,01/03/2020,M,52,Lavori di meccanica generale,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
9579790,06/09/2010,M,61,Lavori di meccanica generale,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ALBANIA
9579791,06/11/2021,M,37,Fabbricazione di parti ed accessori per bicicl...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,SENEGAL
9579792,02/02/2010,M,35,Fabbricazione di parti ed accessori per bicicl...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,TEMPO PIENO,BERGAMO,SENEGAL
9579793,05/07/2012,F,39,Commercio all'ingrosso di abbigliamento e acce...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA

## Drop Duplicates and Null Values

In [4]:
# Drop duplicates values
activated_jobs_cleaning = activated_jobs.drop_duplicates()

In [5]:
activated_jobs_cleaning.isnull().sum()

DATA                              0
GENERE                            0
ETA                               0
SETTOREECONOMICODETTAGLIO      2852
TITOLOSTUDIO                    563
CONTRATTO                         0
MODALITALAVORO               382758
PROVINCIAIMPRESA                  0
ITALIANO                          0
dtype: int64

In [6]:
# Drop Null values
activated_jobs_cleaning = activated_jobs.dropna()

In [7]:
# Creation Column TIPO
activated_jobs_cleaning["TIPO"]="ATTIVATO"

C:\Users\ALESSA~1\AppData\Local\Temp/ipykernel_13924/3629704450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activated_jobs_cleaning["TIPO"]="ATTIVATO"

In [8]:
# Only two Provinces from Dataset are selected
activated_jobs_cleaning = activated_jobs_cleaning.loc[(activated_jobs_cleaning['PROVINCIAIMPRESA'] == 'MILANO') |
                                                      (activated_jobs_cleaning['PROVINCIAIMPRESA'] == 'BERGAMO')]
activated_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
0,09/05/2020,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,ATTIVATO
1,12/07/2019,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO
2,05/06/2013,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO
3,12/03/2010,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO
4,06/04/2021,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO

## Fixing Year Range

In [9]:
activated_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
0,09/05/2020,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,ATTIVATO
1,12/07/2019,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO
2,05/06/2013,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO
3,12/03/2010,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO
4,06/04/2021,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO

In [10]:
# Transform column DATA from object to datetime
activated_jobs_cleaning['DATA'] = pd.to_datetime(activated_jobs_cleaning['DATA'])

In [11]:
activated_jobs_cleaning.dtypes

DATA                         datetime64[ns]
GENERE                               object
ETA                                   int64
SETTOREECONOMICODETTAGLIO            object
TITOLOSTUDIO                         object
CONTRATTO                            object
MODALITALAVORO                       object
PROVINCIAIMPRESA                     object
ITALIANO                             object
TIPO                                 object
dtype: object

In [12]:
# Creation column ANNO to select specific interval times 
activated_jobs_cleaning['ANNO'] = activated_jobs_cleaning.DATA.dt.year
activated_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO,ANNO
0,2020-09-05,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,ATTIVATO,2020
1,2019-12-07,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO,2019
2,2013-05-06,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,ATTIVATO,2013
3,2010-12-03,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO,2010
4,2021-06-04,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,ATTIVATO,2021

In [13]:
# Time interval expressed in ANNO  
interval_year = (activated_jobs_cleaning['ANNO'] > 2007) & (activated_jobs_cleaning['ANNO'] <= 2021)
activated_jobs_cleaning = activated_jobs_cleaning.loc[interval_year]

In [14]:
# Selection of Computer Science sectors
activated_jobs_cleaning = activated_jobs_cleaning[activated_jobs_cleaning["SETTOREECONOMICODETTAGLIO"].str.contains("informatica") == True]
activated_jobs_cleaning["SETTOREECONOMICO"] = activated_jobs_cleaning["SETTOREECONOMICODETTAGLIO"]
activated_jobs_cleaning = activated_jobs_cleaning.drop(["SETTOREECONOMICODETTAGLIO"], axis = 1)
activated_jobs_cleaning["SETTOREECONOMICO"].unique()

array(["Consulenza nel settore delle tecnologie dell'informatica",
       "Altre attività dei servizi connessi alle tecnologie dell'informatica nca"],
      dtype=object)

In [15]:
activated_jobs_cleaning.head()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO,ANNO,SETTOREECONOMICO
9703,2018-01-05,F,40,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ITALIA,ATTIVATO,2018,Consulenza nel settore delle tecnologie dell'i...
17992,2020-10-08,M,37,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO,2020,Altre attività dei servizi connessi alle tecno...
18206,2018-09-12,M,29,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO,2018,Altre attività dei servizi connessi alle tecno...
18289,2021-10-05,M,38,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO,2021,Altre attività dei servizi connessi alle tecno...
18333,2019-09-04,M,44,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO,2019,Altre attività dei servizi connessi alle tecno...

In [16]:
activated_jobs_cleaning.to_csv('Hiring_Computer_Science_Cleaning.csv', index = False, header = True)

In [17]:
activated_jobs_transformation = activated_jobs_cleaning.copy()
activated_jobs_transformation = activated_jobs_cleaning[['DATA', 'SETTOREECONOMICO', 'PROVINCIAIMPRESA']]

## Data Samples Creation

In [18]:
new_df = activated_jobs_transformation.copy()
new_df_2 = activated_jobs_transformation.copy()
Milano_Activated = activated_jobs_transformation.copy()
Bergamo_Activated = activated_jobs_transformation.copy()

In [19]:
# Dataset containing total hirings of two sectors grouped by DATA and SETTOREECONOMICO
new_df = new_df.groupby(["DATA","SETTOREECONOMICO"]).count()
new_df["ATTIVATO"] = new_df["PROVINCIAIMPRESA"]
new_df = new_df.drop(["PROVINCIAIMPRESA"], axis = 1)
new_df

                                                               ATTIVATO
DATA       SETTOREECONOMICO
2009-04-09 Altre attività dei servizi connessi alle tecnol...         1
2009-04-10 Altre attività dei servizi connessi alle tecnol...         1
2009-06-05 Altre attività dei servizi connessi alle tecnol...         4
           Consulenza nel settore delle tecnologie dell'in...         1
2009-06-06 Altre attività dei servizi connessi alle tecnol...         1
...                                                                 ...
2021-10-04 Consulenza nel settore delle tecnologie dell'in...        26
2021-10-05 Altre attività dei servizi connessi alle tecnol...        17
           Consulenza nel settore delle tecnologie dell'in...        67
2021-10-06 Altre attività dei servizi connessi alle tecnol...        19
           Consulenza nel settore delle tecnologie dell'in...        35

[3002 rows x 1 columns]

In [20]:
# Creation of Dataset where there is only one SETTOREECONOMICO that includes others 
new_df_2 = new_df_2.replace(["Consulenza nel settore delle tecnologie dell'informatica","Altre attività dei servizi connessi alle tecnologie dell'informatica nca"], "Tecnologie Informatiche")

In [21]:
# Dataset contained total hirings of Milano and Bergamo grouped by DATA and SETTOREECONOMICO
new_df_2 = new_df_2.groupby(["DATA", "SETTOREECONOMICO"]).count()
new_df_2["ATTIVATO"] = new_df_2["PROVINCIAIMPRESA"]
new_df_2 = new_df_2.drop(["PROVINCIAIMPRESA"], axis = 1)
new_df_2

                                    ATTIVATO
DATA       SETTOREECONOMICO
2009-04-09 Tecnologie Informatiche         1
2009-04-10 Tecnologie Informatiche         1
2009-06-05 Tecnologie Informatiche         5
2009-06-06 Tecnologie Informatiche         1
2009-06-07 Tecnologie Informatiche         1
...                                      ...
2021-10-01 Tecnologie Informatiche       145
2021-10-02 Tecnologie Informatiche         5
2021-10-04 Tecnologie Informatiche        55
2021-10-05 Tecnologie Informatiche        84
2021-10-06 Tecnologie Informatiche        54

[1615 rows x 1 columns]

In [22]:
# Creation of two new datasets to compare results of models 
new_df.to_csv('Hiring_Computer_Science_Multiple_Sectors.csv', index = True, header = True)
new_df_2.to_csv('Hiring_Computer_Science_One_Sector.csv', index = True, header = True)

## Milano TIme Series Hiring Dataset

In [23]:
Milano_Activated = Milano_Activated.loc[(Milano_Activated["PROVINCIAIMPRESA"] == "MILANO")]
Milano_Activated.head()

,DATA,SETTOREECONOMICO,PROVINCIAIMPRESA
17992,2020-10-08,Altre attività dei servizi connessi alle tecno...,MILANO
18206,2018-09-12,Altre attività dei servizi connessi alle tecno...,MILANO
18289,2021-10-05,Altre attività dei servizi connessi alle tecno...,MILANO
18333,2019-09-04,Altre attività dei servizi connessi alle tecno...,MILANO
18349,2019-06-03,Altre attività dei servizi connessi alle tecno...,MILANO

In [24]:
Milano_Activated = Milano_Activated.replace(["Consulenza nel settore delle tecnologie dell'informatica","Altre attività dei servizi connessi alle tecnologie dell'informatica nca"], "Tecnologie Informatiche")

In [25]:
# Dataset contained total hiring of Milano grouped by DATA and SETTOREECONOMICO
Milano_Activated = Milano_Activated.groupby(["DATA","SETTOREECONOMICO"]).count()
Milano_Activated["ATTIVATO"] = Milano_Activated["PROVINCIAIMPRESA"]
Milano_Activated = Milano_Activated.drop(["PROVINCIAIMPRESA"], axis = 1)
Milano_Activated

                                    ATTIVATO
DATA       SETTOREECONOMICO
2009-04-09 Tecnologie Informatiche         1
2009-04-10 Tecnologie Informatiche         1
2009-06-05 Tecnologie Informatiche         5
2009-06-06 Tecnologie Informatiche         1
2009-06-07 Tecnologie Informatiche         1
...                                      ...
2021-10-01 Tecnologie Informatiche       140
2021-10-02 Tecnologie Informatiche         4
2021-10-04 Tecnologie Informatiche        55
2021-10-05 Tecnologie Informatiche        83
2021-10-06 Tecnologie Informatiche        53

[1610 rows x 1 columns]

## Bergamo Hiring Dataset

In [26]:
Bergamo_Activated = Bergamo_Activated.loc[(Bergamo_Activated["PROVINCIAIMPRESA"] == "BERGAMO")]
Bergamo_Activated.head()

,DATA,SETTOREECONOMICO,PROVINCIAIMPRESA
9703,2018-01-05,Consulenza nel settore delle tecnologie dell'i...,BERGAMO
29140,2018-04-10,Consulenza nel settore delle tecnologie dell'i...,BERGAMO
43230,2015-06-09,Altre attività dei servizi connessi alle tecno...,BERGAMO
43826,2020-11-06,Altre attività dei servizi connessi alle tecno...,BERGAMO
44182,2021-05-07,Consulenza nel settore delle tecnologie dell'i...,BERGAMO

In [27]:
Bergamo_Activated = Bergamo_Activated.replace(["Consulenza nel settore delle tecnologie dell'informatica","Altre attività dei servizi connessi alle tecnologie dell'informatica nca"], "Tecnologie Informatiche")

In [28]:
# Dataset contained total hiring of Bergamo grouped by DATA and SETTOREECONOMICO
Bergamo_Activated = Bergamo_Activated.groupby(["DATA","SETTOREECONOMICO"]).count()
Bergamo_Activated["ATTIVATO"] = Bergamo_Activated["PROVINCIAIMPRESA"]
Bergamo_Activated = Bergamo_Activated.drop(["PROVINCIAIMPRESA"], axis = 1)
Bergamo_Activated

                                    ATTIVATO
DATA       SETTOREECONOMICO
2009-06-09 Tecnologie Informatiche         1
2009-06-11 Tecnologie Informatiche         1
2009-06-12 Tecnologie Informatiche         1
2009-07-02 Tecnologie Informatiche         1
2009-07-03 Tecnologie Informatiche         1
...                                      ...
2021-09-10 Tecnologie Informatiche         1
2021-10-01 Tecnologie Informatiche         5
2021-10-02 Tecnologie Informatiche         1
2021-10-05 Tecnologie Informatiche         1
2021-10-06 Tecnologie Informatiche         1

[780 rows x 1 columns]

In [29]:
# Creation of two new datasets for Time Series 
Milano_Activated.to_csv('Hiring_Computer_Science_Milano.csv', index = True, header = True)
Bergamo_Activated.to_csv('Hiring_Computer_Science_Bergamo.csv', index = True, header = True)

# Cleaning and Transformation Dismissal DataSet

In [30]:
ceased_jobs = pd.read_csv('Rapporti_di_lavoro_cessati.csv')
#lavori_cessati.head()

In [31]:
ceased_jobs_cleaning = ceased_jobs.copy()
ceased_jobs_cleaning

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
1,08/06/2018,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
2,02/02/2016,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
3,12/01/2015,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
4,09/08/2017,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
...,...,...,...,...,...,...,...,...,...
3741389,05/11/2018,M,19,Fabbricazione di altri elementi in legno e di ...,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIA
3741390,09/04/2017,M,67,Altra istruzione secondaria di secondo grado d...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BRESCIA,ITALIA
3741391,08/05/2015,M,59,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,MAROCCO
3741392,10/10/2016,M,26,Installazione di altre macchine ed apparecchia...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
3741393,09/10/2018,M,45,Fabbricazione di strutture metalliche e parti ...,LICENZA MEDIA,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA

## Drop Duplicates and Null Values

In [32]:
# Drop duplicates values
ceased_jobs_cleaning = ceased_jobs.drop_duplicates()

In [33]:
ceased_jobs_cleaning.isnull().sum()

DATA                            0
GENERE                          0
ETA                             0
SETTOREECONOMICODETTAGLIO    1013
TITOLOSTUDIO                  439
CONTRATTO                       0
MODALITALAVORO                  0
PROVINCIAIMPRESA                0
ITALIANO                        0
dtype: int64

In [34]:
# Drop Null values
ceased_jobs_cleaning = ceased_jobs.dropna()

In [35]:
# Creation Column TIPO
ceased_jobs_cleaning["TIPO"]="CESSATO"

C:\Users\ALESSA~1\AppData\Local\Temp/ipykernel_13924/2680174658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ceased_jobs_cleaning["TIPO"]="CESSATO"

In [36]:
# Only two Provinces from Dataset are selected
ceased_jobs_cleaning = ceased_jobs_cleaning.loc[(ceased_jobs_cleaning['PROVINCIAIMPRESA'] == 'MILANO') | 
                                                (ceased_jobs_cleaning['PROVINCIAIMPRESA'] == 'BERGAMO')]
ceased_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
1,08/06/2018,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
2,02/02/2016,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
3,12/01/2015,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
4,09/08/2017,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO

## Fixing Year Range

In [37]:
ceased_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
1,08/06/2018,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
2,02/02/2016,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
3,12/01/2015,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO
4,09/08/2017,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO

In [38]:
# Transformation of column DATA from object to datetime
ceased_jobs_cleaning['DATA'] = pd.to_datetime(ceased_jobs_cleaning['DATA'])

In [39]:
ceased_jobs_cleaning.dtypes

DATA                         datetime64[ns]
GENERE                               object
ETA                                   int64
SETTOREECONOMICODETTAGLIO            object
TITOLOSTUDIO                         object
CONTRATTO                            object
MODALITALAVORO                       object
PROVINCIAIMPRESA                     object
ITALIANO                             object
TIPO                                 object
dtype: object

In [40]:
# Creation column ANNO to select specific interval times 
ceased_jobs_cleaning['ANNO'] = ceased_jobs_cleaning.DATA.dt.year
ceased_jobs_cleaning.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO,ANNO
0,2019-02-04,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2019
1,2018-08-06,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2018
2,2016-02-02,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2016
3,2015-12-01,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2015
4,2017-09-08,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2017

In [41]:
# Time interval expressed in ANNO 
interval_year = (ceased_jobs_cleaning['ANNO'] > 2007) & (ceased_jobs_cleaning['ANNO'] <= 2021)
ceased_jobs_cleaning = ceased_jobs_cleaning.loc[interval_year]

In [42]:
# Selection of Computer Science sectors
ceased_jobs_cleaning = ceased_jobs_cleaning[ceased_jobs_cleaning["SETTOREECONOMICODETTAGLIO"].str.contains("informatica") == True]
ceased_jobs_cleaning["SETTOREECONOMICO"] = ceased_jobs_cleaning["SETTOREECONOMICODETTAGLIO"]
ceased_jobs_cleaning = ceased_jobs_cleaning.drop(["SETTOREECONOMICODETTAGLIO"], axis = 1)
ceased_jobs_cleaning["SETTOREECONOMICO"].unique()

array(["Altre attività dei servizi connessi alle tecnologie dell'informatica nca",
       "Consulenza nel settore delle tecnologie dell'informatica"],
      dtype=object)

In [43]:
ceased_jobs_cleaning.head()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO,ANNO,SETTOREECONOMICO
4782,2018-05-02,M,47,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,CESSATO,2018,Altre attività dei servizi connessi alle tecno...
8507,2010-07-09,F,31,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO,2010,Consulenza nel settore delle tecnologie dell'i...
8518,2012-07-02,M,20,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A PROGETTO / COLLABORAZIONE COORDINATA ...,NON DEFINITO,MILANO,ITALIA,CESSATO,2012,Consulenza nel settore delle tecnologie dell'i...
8636,2019-01-10,M,48,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO,2019,Altre attività dei servizi connessi alle tecno...
8681,2019-04-09,F,28,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO,2019,Altre attività dei servizi connessi alle tecno...

In [44]:
ceased_jobs_cleaning.to_csv('Dismissal_Computer_Science_Cleaning.csv', index = False, header = True)

In [45]:
ceased_jobs_transformation = ceased_jobs_cleaning.copy()
ceased_jobs_transformation = ceased_jobs_cleaning[['DATA', 'SETTOREECONOMICO', 'PROVINCIAIMPRESA']]

## Milano Dismissal Dataset

In [46]:
Milano_Ceased = ceased_jobs_transformation.copy()

In [47]:
Milano_Ceased = Milano_Ceased.loc[(Milano_Ceased["PROVINCIAIMPRESA"] == "MILANO")]
Milano_Ceased.head()

,DATA,SETTOREECONOMICO,PROVINCIAIMPRESA
8507,2010-07-09,Consulenza nel settore delle tecnologie dell'i...,MILANO
8518,2012-07-02,Consulenza nel settore delle tecnologie dell'i...,MILANO
8636,2019-01-10,Altre attività dei servizi connessi alle tecno...,MILANO
8681,2019-04-09,Altre attività dei servizi connessi alle tecno...,MILANO
8694,2021-09-08,Altre attività dei servizi connessi alle tecno...,MILANO

In [48]:
Milano_Ceased = Milano_Ceased.replace(["Consulenza nel settore delle tecnologie dell'informatica","Altre attività dei servizi connessi alle tecnologie dell'informatica nca"], "Tecnologie Informatiche")

In [49]:
# Dataset contained total hirings in Milano grouped by DATA and SETTOREECONOMICO
Milano_Ceased = Milano_Ceased.groupby(["DATA","SETTOREECONOMICO"]).count()
Milano_Ceased["CESSATO"] = Milano_Ceased["PROVINCIAIMPRESA"]
Milano_Ceased = Milano_Ceased.drop(["PROVINCIAIMPRESA"], axis = 1)
Milano_Ceased

                                    CESSATO
DATA       SETTOREECONOMICO
2009-04-01 Tecnologie Informatiche        1
2009-04-09 Tecnologie Informatiche        1
2009-06-05 Tecnologie Informatiche        2
2009-06-06 Tecnologie Informatiche        1
2009-06-08 Tecnologie Informatiche        9
...                                     ...
2021-10-02 Tecnologie Informatiche        2
2021-10-03 Tecnologie Informatiche        1
2021-10-04 Tecnologie Informatiche       41
2021-10-05 Tecnologie Informatiche       37
2021-10-06 Tecnologie Informatiche       19

[1466 rows x 1 columns]

## Bergamo Dismissal Dataset

In [ ]:
Bergamo_Ceased = ceased_jobs_transformation.copy()

In [50]:
Bergamo_Ceased = Bergamo_Ceased.loc[(Bergamo_Ceased["PROVINCIAIMPRESA"] == "BERGAMO")]
Bergamo_Ceased.head()

,DATA,SETTOREECONOMICO,PROVINCIAIMPRESA
4782,2018-05-02,Altre attività dei servizi connessi alle tecno...,BERGAMO
13936,2021-10-04,Consulenza nel settore delle tecnologie dell'i...,BERGAMO
21400,2013-04-04,Consulenza nel settore delle tecnologie dell'i...,BERGAMO
33295,2021-04-01,Altre attività dei servizi connessi alle tecno...,BERGAMO
33628,2012-10-01,Consulenza nel settore delle tecnologie dell'i...,BERGAMO

In [51]:
Bergamo_Ceased = Bergamo_Ceased.replace(["Consulenza nel settore delle tecnologie dell'informatica","Altre attività dei servizi connessi alle tecnologie dell'informatica nca"], "Tecnologie Informatiche")

In [52]:
# Dataset contained total hirings in Sondrio grouped by DATA and SETTOREECONOMICO
Bergamo_Ceased = Bergamo_Ceased.groupby(["DATA","SETTOREECONOMICO"]).count()
Bergamo_Ceased["CESSATO"] = Bergamo_Ceased["PROVINCIAIMPRESA"]
Bergamo_Ceased = Bergamo_Ceased.drop(["PROVINCIAIMPRESA"], axis = 1)
Bergamo_Ceased

                                    CESSATO
DATA       SETTOREECONOMICO
2009-05-07 Tecnologie Informatiche        2
2009-06-12 Tecnologie Informatiche        2
2009-07-01 Tecnologie Informatiche        3
2009-07-02 Tecnologie Informatiche        1
2009-07-03 Tecnologie Informatiche        1
...                                     ...
2021-09-10 Tecnologie Informatiche        2
2021-10-01 Tecnologie Informatiche        2
2021-10-04 Tecnologie Informatiche        1
2021-10-05 Tecnologie Informatiche        4
2021-10-06 Tecnologie Informatiche        1

[598 rows x 1 columns]

In [53]:
# Creation of two new datasets for Time Series 
Milano_Ceased.to_csv('Dismissal_Computer_Science_Milano.csv', index = True, header = True)
Bergamo_Ceased.to_csv('Dismissal_Computer_Science_Bergamo.csv', index = True, header = True)